<!DOCTYPE html>
<html lang="en" >
   <head>
      <meta charset="UTF-8">
      <title>Admin Dashboard</title>
      <link rel="icon" href="data:;base64,iVBORw0KGgo=">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="static/graphs.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   </head>
   <body>
      <!-- partial:index.partial.html -->
      <div class="admin">
         <header class="admin__header">
            <a href="#" class="logo">
               <h1>Bastau Team</h1>
            </a>
            <div class="toolbar">
               <a href="#" class="logout">
               Log Out
               </a>
            </div>
         </header>
         <nav class="admin__nav">
            <ul class="menu">
               <li class="menu__item">
                  <a class="menu__link" href="">Home</a>
                  <a href="dash.html"></a>
               </li>
               <li class="menu__item">
                  <a class="menu__link" href="stats">Driver Stats</a>
                  <a href="graphs.html"></a>
               </li>
               <li class="menu__item">
                  <a class="menu__link" href="criminal">Criminal Recognition</a>
                  <a href="stream.html"></a>
               </li>
               <li class="menu__item">
                  <a class="menu__link" href="feedback">Feedback</a>
                  <a href="report.html"></a>
               </li>
            </ul>
         </nav>
         <main class="admin__main">
            <div class="dashboard">
               <div class="dashboard__item">
                  <div class="card" >
                      <div class="thecard">
                          <div id="pulse">
                            <script src="static/pulse.js"></script>
                          </div>
                     </div>
                  </div>
               </div>
               <div class="dashboard__item">
                  <div class="card-2" >


                       <div class="card-caption-2">
                        <h1>Drowsiness detected:</h1>
                        <p>0</p>
                       </div>

                  </div>
               </div>
               <div class="dashboard__item dashboard__item--full">
                  <div class="card">
                    <div id="div_plot"></div>
                  <script src="static/graphs.js"></script>
                  </div>
               </div>
            </div>
         </main>
      </div>
      <!-- partial -->
   </body>
</html>